<br>
<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      Students
    </div>
    <div id="students" class="panel-body">
      <input class="form-control" type="text" v-model="student.name" v-on:keyup.enter="addStudent" placeholder="name"><br>
      <span style="color:red">{{ errors.name }}</span>
      <!-- <button @click="addStudent">Add</button> -->
      <ul class="list-unstyled">
        <li v-for="student in students">
          {{ student.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
