<!DOCTYPE html>
<html>
  <head>
    <title>TechTime</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
